
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="topadd_bar"><a href="#"><img src="~/images/addbanner_728x90_V1.jpg" alt=""></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-sm-8">
                <div class="contact_area wow fadeInLeftBig">
                    <form action="#" class="contact_form">
                        <input class="form-control" name="name" type="text" placeholder="Name(Required)">
                        <input class="form-control" name="email" type="email" placeholder="Email(Required)">
                        <input class="form-control" name="subject" type="text" placeholder="Subject">
                        <textarea class="form-control" name="message" cols="30" rows="10" placeholder="Message"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-sm-4">
                <div class="contact_address wow fadeInRightBig">
                    <h3>Address</h3>
                    <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur.</p>
                    <h4>Cyber Tech</h4>
                    <address>
                        <p>Moon Street Light Avenue, 14/05</p>
                        <p>Jupiter, JP 80630</p>
                        <p>P: 00 (123) 456 78 90</p>
                        <a href="mailto:#">first.last@email.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm3">
                    <div class="footer_widget wow fadeInLeftBig">
                        <h2>Labels</h2>
                        <ul class="labels_nav">
                            <li><a href="#">Games</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Slider</a></li>
                            <li><a href="#">Life &amp; Style</a></li>
                            <li><a href="#">Ver</a></li>
                            <li><a href="#">Sports</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm3">
                    <div class="footer_widget">
                        <h2>Popular Post</h2>
                        <ul class="ppost_nav wow fadeInLeftBig">
                            <li>
                                <div class="media">
                                    <a href="single_page.html" class="media-left"><img alt="" src="~/images/70x70.jpg"></a>
                                    <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="single_page.html" class="media-left"><img alt="" src="~/images/70x70.jpg"></a>
                                    <div class="media-body"><a href="#" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="single_page.html" class="media-left"><img alt="" src="~/images/70x70.jpg"></a>
                                    <div class="media-body"><a href="#" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm3">
                    <div class="footer_widget wow fadeInRightBig">
                        <h2>Flickr Images</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm3">
                    <div class="footer_widget wow fadeInRightBig">
                        <h2>Jetpack Subscription Widget</h2>
                        <form action="#" class="subscribe_form">
                            <p id="subscribe-text">We promise, we will only send you awesome stuff which will make your day!</p>
                            <p id="subscribe-email">
                                <input type="text" placeholder="Email Address" name="email">
                            </p>
                            <p id="subscribe-submit">
                                <input type="submit" value="Submit">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <p class="copyright">Copyright &copy; 2045 <a href="../index.html">Cyber Tech</a></p>
            <p class="developer">Developed By Wpfreeware</p>
        </div>
    </div>
</footer>

